modules = ["nodejs-24", "postgresql-16", "javascript"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "go-b-o-oking-fl40mj"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@go-b-o-oking-fl40mj.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDBJqIC85gzOxa1
8EC37o5lizAMjXRyBx2HJWideKGN041CK4KSBmUVpxC8nCz4Yx+vg1XkERfJfWVg
TIrpj5VsewtcMNke2JrQu1anpJBu5Z9pYClFGw8v1VgvKZiJES9c9fnq8JygnqUr
MIXfD3NgQvqyoYuH3wYh44wq3pzbCxoOCqI/vUjtAvbIFqsHooLl0tnJ2ArRkRhI
ZYJgMHQDU3OuL8/kFQSsMUVK+7OOQD5bx7UiWu09E008uq/7rgF+A3Kd/S+GN1/G
52CG01SbBhE9+IheDphNBtfZPGSjwav57caBrVObdma5R17Yc/73aWG2F/SB+HL2
S7td8N6pAgMBAAECggEAFW2SZ3KsGdHmOfq8iVNKQaZshxX5200iB9xc8+xeOuhj
eVnvn0DdncZ2J0CJxigkC6INyTKiwZAbazCusAzlej6X0utZ6Q/FdB72dPx/KAhq
NCPujCu9dnRsFzZdhWZOS3k/98IoFDMpdoZIccfKaF1h5+efXcxepyuSAS8Hdo7d
24Ffp1uQn7aS4qsVPPwl3Ktvb3RF8TBsPn9/n3BmacVE+ySF8VLFelQI3m2cmUhl
QOSvJEZjHTGEz+ITDfSn4MUqYg+OVGzhou7Lp50Nb/RCplz1+saleNpMJpmiuBA2
bjEV3QgJhQS+X93fHTuaR+rmmX9AYZ4JvNtqkI/lsQKBgQD9XPyoIKIwmolMFACg
oUbZvBvQJc0MYKyCNULRvqdOARt3mf16N/XUYNZtmq3FOfEw3f1IuanKY+ZqIV7K
s5lqv+wvrArJ5F0+dAk+6yKQ+GUgOe+VcVNjSgUg+WzCc0sjhjOUJONGwRMgG1BQ
nrDl6fUg9NWzAjPfzjUW8dXmWQKBgQDDKTpEDgMsu/nA6Z2QQNq7HQUicQL7m57t
/RFafvMhxMU/c8dl+cU1DZLhowonozpsM3N2P0rk4mePcA+g0HbLvsoEp5yMtRdl
6k8fP3V8b4cASKj8FrFmrz2x3ERKjrAX063NAX9Gc1hBIjJwLlrsdUl0UcViAdHK
5MLbpnRQ0QKBgQDSD4Zq3qOaKIYszWi3xP85Bv0IVk7rNDvSuNXtkGSmB8T+JG5E
JqFqs98UgGoSWzfdjC+zXDup0an31DMDXGSWXQk1fS50tSGZ5hrET68ZAtjVHzPE
c3DvoS8fZ60EixKBIYMiEHNe9jUlKYAtV2TTOmZCLLwA7pKTvCPIIjl2AQKBgQCw
6N54cntOQdfUl/DMov2kQFo3LlqV2ivncFAayJl9MvHa4wkN16x8uyE6iKDb7Ys4
KiuwNQ+fC9z0mZCRJmeJqhlWvtmac04ShKPUn6HQewjVqQgF/Ewz2QcEA7ekHlRi
RPB3tbO6GTUXVfiC2IJzdp5vYvCaNywFz/kTQ4CNAQKBgQDU0FFOjiVojn0IeZCn
Twn1SqJ4unWG3hTUJ3V0FPyxuEY5ngwsvDA1iIJz3kiz2UCCBu/7LTKjyPMprR7/
isqDRTmWyfuls8izs0cFGTo+1hTk1g4ImmjfmCBLuiAQa/TjDyv8GKtLWrdquOcX
8IaySczeTMe9oMXLz8W7zFpI2g==
-----END PRIVATE KEY-----
"""

[[ports]]
localPort = 3000
externalPort = 8080
